*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sfondo{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista{
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}

.quadrato{
    height: 50px;
    width: 100px;
    background-color: red;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
